body {
	background-color: #464646;
}
h3 {
	color: red;
}
.loading {
	margin: 100px;
}
.thumb {
	display: inline-block;
	margin: 10px 20px;
	width: 150px;
	height: 150px;
	cursor: pointer;
	transition: all linear 0.2s;
}
.thumb.highlight {
	box-shadow:0 0 0px 8px #3a6791;
}
.control-gallery {
	margin: 40px 0 100px;
	background-color: #464646;
	position: relative;
	height: 400px;
	transition: all linear 0.2s;
}
.control-gallery.ng-hide {
	opacity: 0;
}
.control-gallery h4 {
	color: lightgrey;
}
.control-gallery img {
	height: 400px;
	cursor: pointer;
}

.thumb-grid {
	/*margin-left: 60px;*/
}
.pages-of-pages {
	color: grey;
}
.disabled {
  cursor: default;
  opacity: 0.5; 
}
