body {
	background-color: #464646;
}
.navbar-header .navbar-brand {
	color: red;
}
.loading {
	margin: 100px;
}
.thumb {
	display: flex;
	justify-content: center;
    align-items: center;
	flex: 1;
	margin: 10px;
	max-width: 150px;
	min-width: 150px;
	height: 150px;
	cursor: pointer;
	transition: all linear 0.2s;
}
.thumb.highlight {
	box-shadow:0 0 0px 8px #3a6791;
}
.control-gallery {
	margin-bottom: 100px;
	position: relative;
	height: 400px;
	background-color: #383838;
	transition: all linear 0.2s;
}
.control-gallery.ng-hide {
	opacity: 0;
}
.control-gallery h4 {
	color: lightgrey;
}
.control-gallery > .container {
	position: relative;
    height: 400px;
}
.control-gallery img {
	height: 400px;
	cursor: pointer;
}

.thumb-grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color: #5f5e5e;
    border-color: grey;
}
.pages-of-pages {
	color: grey;
	margin: 0 70px;
}
.disabled {
  cursor: default;
  opacity: 0.5; 
}
.paginator {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
}
.paginator .pagination {
	margin-top: 0;
}
.paginator .pagination .active a{
	background-color: #436a8c;
}
