<div class="container">
    <form ng-submit="main.search(main.photoSearch)" class="form-inline col-sm-4" name="searchForm" novalidate>
        <div class="form-group">
            <input id="search_input" class="form-control" type="text" ng-model="main.photoSearch" name="photo_search" placeholder="Photos, people" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" ng-disabled="searchForm.$invalid">Search</button>
        </div>
    </form>
    <ul class="pagination col-sm-8">
        <li ng-repeat="page in main.pageNav" ng-class="{active: page.disabled}"><a href="" ng-click="main.search(main.photoSearch, page.number)">{{page.text}}</a></li>
    </ul>
    <div class="col-sm-2"><p class="pages-of-pages">Page {{main.page}} of {{main.pages}}</p></div>
</div>
<div ng-show="main.loading" class="text-center loading"><img src="./img/loading_spinner.gif" style="height:50px;"></div>
<div class="container text-center control-gallery" ng-show="main.showGallery">

    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner" role="listbox">
            <img ng-click="main.next()" ng-src="{{main.currentPhotoSrc}}" title="Next">
        </div>
    </div>
    <a class="left carousel-control" href="" role="button" ng-click="main.previous()">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" role="button" ng-click="main.next()">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

    <h4>{{main.currentPhoto.title}}</h4>
    <p><button class="btn btn-primary btn-sm" ng-click="main.copyLink()">Copy Photo's Link</button><a href="" ng-click="main.close()" class="pull-right">Close</a></p>
    
</div>
<div  ng-hide="main.loading" class="thumb-grid row">
    <div class="thumb" ng-repeat="photo in main.photos" ng-click="main.openPhoto(photo.id);$anchorScroll();" ng-class="{highlight: photo.highlight}">
            <img ng-src="http://farm{{photo.farm}}.static.flickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_q.jpg">
    </div><br>
</div>
<ul class="pagination col-sm-8">
    <li ng-repeat="page in main.pageNav" ng-class="{active: page.disabled}"><a href="" ng-click="main.search(main.photoSearch, page.number)">{{page.text}}</a></li>
</ul>
<div class="col-sm-4"><p class="pages-of-pages">Page {{main.page}} of {{main.pages}}</p></div>